<h1><%=@make.name%></h1>
 <a href="<%= make_cars_path(@make) %>">Car_list</a>
<ul>
  <li>year: <%=@make.year%></li>
  <li>American made? <%=@make.american%></li>
  <li>Number of cars: <%=@make.cars.count%></li>
  </ul>