
<h1><%=@make.name%></h1>
 <%= link_to "Car_list", make_cars_path(@make) %>
 <%= link_to "Update #{@make.name}", edit_make_path(@make) %>
<ul>
  <li>year: <%=@make.year%></li>
  <li>American made? <%=@make.american%></li>
  <li>Number of cars: <%=@make.cars.count%></li>
  </ul>