<!DOCTYPE html>
<html>
  <head>
    <title>CarLot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <a href="/cars">Car Index</a>
    <a href="/makes">Make Index</a>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
